.createNewsForm {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-medium);
  width: 100%;
}

.createNewsForm textarea {
  min-height: 150px;
}

.createNewsForm button {
  align-self: flex-start;
}
