.formNewsModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--spacing-medium);
  background-color: var(--background-color);
  height: calc(100dvh - 150px);
  width: 80%;
  border-radius: var(--border-radius-m);
  padding: var(--spacing-medium);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
