.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  padding: 0.75rem 1.5625rem;
  font-weight: bold;
  font-size: 14px;
  color: var(--text-color);
  border: none;
  min-width: 140px;
  height: auto;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.m {
  gap: 0.625rem;
  width: 200px;
}

.l {
  gap: 0.938rem;
  width: 300px;
}

.xxl {
  width: 100%;
}

.accent {
  background: var(--primary-color);
}

.secondary {
  background: var(--secondary-color);
}
.none {
  padding: 0;
  margin: 0;
  gap: 0;
  min-width: 0;
}

.ghost {
  background: none;
  outline: none;
  box-shadow: none;
  color: inherit;
}
.ghost:hover {
  background-color: none;
}
.accent:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}
